---
const { allPosts } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="flex scroll-mt-24 flex-col">
  <ul class="grid sm:gap-2">
    {
      allPosts.map((post) => (
          <div class="group card rounded-none sm:card-side">
            <figure class="relative h-56 w-full sm:w-1/2 overflow-hidden rounded-xl sm:h-64 md:h-96">
              <a href={post.url}>
                <img
                  class="absolute left-0 top-0 h-full w-full object-cover object-center transition-all duration-300 group-hover:scale-110"
                  src="https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg"
                  alt="Album"
                />
              </a>
            </figure>
            <div class="card-body px-0 sm:px-10 w-full sm:w-1/2">
              <a href={post.url}>
                <h2 class="card-title text-lg">{post.frontmatter.title}</h2>
                <p class="font-light text-xs text-[--color-text-offset] leading-relaxed">{post.frontmatter.description}</p>
              </a>
              <div class="divider hidden sm:flex" />
              <div class="flex items-center gap-3 text-[--color-text-offset]">
                <Icon name="mdi:pencil" class="text-sm" />
                <p class="text-xs">{post.frontmatter.author}</p>
              </div>
              <div class="flex items-center gap-3 text-[--color-text-offset]">
                <Icon name="mdi:timetable" class="text-sm" />
                <p class="text-xs">{post.frontmatter.pubDate.slice(0, 10)}</p>
              </div>
              <div class="flex items-center gap-3 text-[--color-text-offset]">
                <Icon name="mdi:tag-outline" class="text-sm" />
                <div class="flex flex-row flex-wrap gap-2">
                  {post.frontmatter.tags.map((tag) => (
                    <a href={`/insight/tags/${tag}`} class="text-xs">
                      <span class="badge">{tag}</span>
                    </a>
                  ))}
                </div>
              </div>
            </div>
          </div>
          <div class="divider sm:hidden" />
        </>
      ))
    }
  </ul>
</div>
