---
export interface Props {
  btnText: string;
  btnAltText: string;
  url: string;
}

const { btnText, btnAltText, url } = Astro.props;
---
<!-- 
<a
  class="middle none center rounded bg-[--color-text] py-3 px-6 font-sans font-bold uppercase text-[--color-background] shadow-md shadow-zinc-500/20 transition-all text-xs hover:shadow-lg hover:shadow-zinc-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none block sm:inline-block"
  href={url}
>
  {btnText}
</a>

<button class="btn">Neutral</button> -->

<a role="button" class="btn w-full sm:w-auto sm:btn-neutral group relative" href={url}>
  <span class="block transition-opacity duration-300 ease-in-out group-hover:opacity-0">{btnText}</span>
  <span class="absolute left-0 top-0 block w-full min-w-max pt-3 text-center opacity-0 transition-opacity duration-300 ease-in-out text-xs group-hover:opacity-100">
    {btnAltText}
  </span>
</a>