---
import { Icon } from "astro-icon/components";
import ThemeSwitcher from "./theme-switcher.astro";
import { navItems } from "~/data/data";
---

<header
  id="page-header"
  class="absolute bottom-0 z-20 flex w-full items-center justify-between border-b border-transparent px-6 py-4 text-white"
>
  <a class="flex items-center gap-3 hover:text-primary" href="/">
    <h1 class="sr-only">Greener-Dalii Studio</h1>
    <Icon name="logomark" class="text-3xl" />
    <Icon name="wordmark" class="hidden text-xl sm:block" />
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6 pr-4">
          {
            navItems.map(({ title, titleZh, url }) => (
              <li class="group">
                <a
                  class="hover:underline2 relative inline-block transition-colors duration-300 text-sm hover:text-primary"
                  href={url}
                >
                  <span class="block transition-opacity duration-300 ease-in-out group-hover:opacity-0">
                    {title}
                  </span>
                  <span class="absolute left-0 top-0 block w-full min-w-max pt-0.5 text-center opacity-0 transition-opacity duration-300 ease-in-out text-xs group-hover:opacity-100">
                    {titleZh}
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div id="dropmenu" class="dropdown dropdown-end dropdown-top sm:hidden">
        <div
          id="open-nav-button"
          tabindex="0"
          role="button"
          class="btn btn-ghost rounded-btn"
        >
          <Icon name="mdi:menu" class="text-xl" />
        </div>
        <ul
          tabindex="0"
          class="menu dropdown-content z-[1] mt-4 w-40 rounded-box p-2 text-default shadow-xl"
        >
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="block py-1 text-right text-xs" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <ThemeSwitcher />
    </div>
  </div>
</header>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-default text-default;
  }
  .modal.is-open {
    @apply block;
  }
</style>

<script>
  import invariant from "tiny-invariant";
  const page = document.documentElement;

  document.addEventListener("scroll", () => {
    if (window.location.pathname === "/") {
      const header = document.querySelector("#page-header") as HTMLElement;
      const dropmenu = document.querySelector("#dropmenu");
      invariant(header, "header should not be null");
      invariant(dropmenu, "menu should not be null");
      const d = page.clientHeight - page.scrollTop - header.offsetHeight;
      header.classList.toggle("fixed-header", d < 0);
      dropmenu.classList.toggle("dropdown-top", d > 0);
    }
  });
</script>
