---
// import "@fontsource/inter/variable.css";
import "../styles/index.css";
const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Greener-Dalii is an up-and-coming branding studio. We try to bring brand design to everyone.";
const title = "格润达理工作室 | Greener-Dalii Studio";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href="/favicon.png" />
<!-- <link rel="icon" href="../public/favicon.svg" type="image/svg+xml" />  -->
<meta name="generator" content={generator} />

<title>{title}</title>
<meta name="description" content={description} />
<!-- social media -->
<meta property="og:title" content="Greener-Dalii Studio" />
<meta property="og:type" content="website" />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={site} />
<meta name="twitter:card" content="summary_large_image" />

<!-- initialize theme -->
<script is:inline>
const themeSaved = localStorage.getItem("theme");

if (themeSaved) {
  document.documentElement.dataset.theme = themeSaved;
} else {
  const prefersDark = window.matchMedia(
    "(prefers-color-scheme: dark)"
  ).matches;
  document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
}

window
  .matchMedia("(prefers-color-scheme: dark)")
  .addEventListener("change", (event) => {
    if (!localStorage.getItem("theme")) {
      document.documentElement.dataset.theme = event.matches
        ? "dark"
        : "light";
    }
  });
</script>
