---
import { Image } from 'astro:assets';
import type { ShowcaseSite } from "../types";

export interface Props {
  site: ShowcaseSite;
}

const { site } = Astro.props;

const widths = [450, 800];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
---

<a class="group aspect-video text-white hover:text-white" href={site.url}>
  <figure class="relative h-full w-full overflow-hidden rounded-md transition-all duration-300 group-hover:shadow-md">
    <Image
      class="h-full w-full bg-cover object-cover transition-all duration-300 group-hover:blur-md group-hover:scale-125 group-focus:scale-105 group-focus:blur-sm"
      src={site.image}
      width={800}
      sizes={sizes}
      alt={`A screenshot of ${site.url}`}
      quality="mid"
    />
    <figcaption class="absolute inset-0 transition-all duration-300 group-hover:bg-black/20">
      <div
        class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
      >
        <h3 class="text-center font-extrabold uppercase text-base sm:text-lg">
          {site.title}
        </h3>
        <h4 class="text-center font-extrabold uppercase text-xs">
          {site.titleEN}
        </h4>
        <p class="border border-current rounded-md text-xs px-3 py-1">{site.industry}</p>
      </div>
    </figcaption>
  </figure>
</a>
