---
import { Image } from 'astro:assets';
import type { ShowcaseSite } from "../types";

export interface Props {
  site: ShowcaseSite;
}

const { site } = Astro.props;

const widths = [450, 800];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
---

<a class="group aspect-video hover:!text-default" href={site.url}>
  <figure
    class="relative h-full w-full overflow-hidden rounded-md transition-all duration-300 group-hover:shadow-md"
  >
    <Image
      class="h-full w-full bg-cover object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-40 group-focus:scale-105 group-focus:opacity-20"
      src={site.image}
      width="800"
      sizes={sizes}
      alt={`A screenshot of ${site.url}`}
    />
    <figcaption class="absolute inset-0">
      <div
        class="flex h-full flex-col p-6 md:p-10 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
      >
        <h3 class="font-extrabold uppercase text-xl">
          {site.title}
        </h3>
        <h4 class="font-extrabold uppercase text-base">
          {site.titleEN}
        </h4>
        <p class="text-xs pt-4">{site.industry}</p>
        <p class="text-xs">{site.date}</p>
      </div>
    </figcaption>
  </figure>
</a>
