---
import BaseLayout from "./BaseLayout.astro";
import Breadcrumbs from "~/components/breadcrumbs.astro";
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
const allPosts = await Astro.glob("../pages/insight/*.md");
const urlList = Astro.url.pathname.split("/").filter(Boolean);
---

<BaseLayout>
  <div class="mt-20 sm:mt-10 sm:pb-32 sm:pt-10">
    <Breadcrumbs urlList={urlList} isTitle={frontmatter.title}/>
    <div class="sm:pb-30 mx-auto max-w-7xl px-6 pt-0 sm:px-2">
      <div class="container mx-auto px-0 sm:px-5 sm:pb-24">
        <!-- Blog Article -->
        <div class="sm:py-30 mx-auto max-w-7xl pt-0 px-0">
          <div class="grid gap-y-8 lg:grid-cols-3 lg:gap-x-6 lg:gap-y-0">
            <!-- Content -->
            <div class="lg:col-span-2">
              <div class="py-8 lg:pr-8">
                <div class="space-y-5 lg:space-y-8">
                  <!-- Head Figure -->
                  <Image
                    src={frontmatter.image.url}
                    alt={frontmatter.image.alt}
                    width="1000"
                    inferSize
                  />
                  <!-- Title -->
                  <h2 class="font-bold text-3xl lg:text-4xl">
                    {frontmatter.title}
                  </h2>
                  <!-- Tag & Author & Date -->
                  <div class="flex items-center gap-x-5">
                    <!-- Date -->
                    <p
                      class="text-xs sm:text-sm"
                    >
                      {frontmatter.pubDate.slice(0, 10)}
                    </p>
                    <!-- Author -->
                    <p
                      class="text-xs sm:text-sm"
                    >
                      Written by {frontmatter.author}
                    </p>
                  </div>
                  <slot />
                  <!-- Blog Description -->
                  <p class="text-md">
                    {frontmatter.description}
                  </p>
                  <!-- Cotent imgs -->
                  <div class="text-center">
                    <div class="grid gap-3 lg:grid-cols-2">
                      <div class="grid grid-cols-2 gap-3 lg:grid-cols-1">
                        <figure class="relative h-60 w-full">
                          <img
                            class="absolute left-0 top-0 h-full w-full rounded-xl object-cover"
                            src="https://images.unsplash.com/photo-1670272505340-d906d8d77d03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                            alt="Image Description"
                          />
                        </figure>
                        <figure class="relative h-60 w-full">
                          <img
                            class="absolute left-0 top-0 h-full w-full rounded-xl object-cover"
                            src="https://images.unsplash.com/photo-1671726203638-83742a2721a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                            alt="Image Description"
                          />
                        </figure>
                      </div>
                      <figure class="relative h-72 w-full sm:h-96 lg:h-full">
                        <img
                          class="absolute left-0 top-0 h-full w-full rounded-xl object-cover"
                          src="https://images.unsplash.com/photo-1671726203394-491c8b574a0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80"
                          alt="Image Description"
                        />
                      </figure>
                    </div>
                    <span class="mt-3 block text-center text-gray-500 text-sm">
                      Working process
                    </span>
                  </div>

                  <p class="text-lg">
                    As we've grown, we've seen how Preline has helped companies
                    such as Spotify, Microsoft, Airbnb, Facebook, and Intercom
                    bring their designers closer together to create amazing
                    things. We've also learned that when the culture of sharing
                    is brought in earlier, the better teams adapt and
                    communicate with one another.
                  </p>

                  <p class="text-lg">
                    That's why we are excited to share that we now have a <a
                      class="font-medium text-blue-600 decoration-2 hover:underline"
                      href="#">free version of Preline</a
                    >, which will allow individual designers, startups and other
                    small teams a chance to create a culture of openness early
                    on.
                  </p>

                  <blockquote class="p-4 text-center sm:px-7">
                    <p
                      class="font-medium text-gray-800 text-xl lg:leading-normal lg:text-2xl xl:leading-normal xl:text-2xl dark:text-gray-200"
                    >
                      To say that switching to Preline has been life-changing is
                      an understatement. My business has tripled and I got my
                      life back.
                    </p>
                    <p class="mt-500">
                      Nicole Grazioso
                    </p>
                  </blockquote>

                  <figure>
                    <img
                      class="w-full rounded-xl object-cover"
                      src="https://images.unsplash.com/photo-1671726203454-488ab18f7eda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                      alt="Image Description"
                    />
                    <figcaption class="mt-3 text-center text-gray-500 text-sm">
                      A man and a woman looking at a cell phone.
                    </figcaption>
                  </figure>

                  <div class="space-y-3">
                    <h3 class="font-semibold text-2xl dark:text-white">
                      Bringing the culture of sharing to everyone
                    </h3>

                    <p class="text-lg">
                      We know the power of sharing is real, and we want to
                      create an opportunity for everyone to try Preline and
                      explore how transformative open communication can be. Now
                      you can have a team of one or two designers and unlimited
                      spectators (think PMs, management, marketing, etc.) share
                      work and explore the design process earlier.
                    </p>
                  </div>

                  <ul
                    class="list-outside list-disc space-y-5 pl-5 text-gray-800 text-lg dark:text-gray-200"
                  >
                    <li class="pl-2">
                      Preline allows us to collaborate in real time and is a
                      really great way for leadership on the team to stay
                      up-to-date with what everybody is working on," <a
                        class="font-medium text-blue-600 decoration-2 hover:underline"
                        href="#">said</a
                      > Stewart Scott-Curran, Intercom's Director of Brand Design.
                    </li>
                    <li class="pl-2">
                      Preline opened a new way of sharing. It's a persistent way
                      for everyone to see and absorb each other's work," said
                      David Scott, Creative Director at <a
                        class="font-medium text-blue-600 decoration-2 hover:underline"
                        href="#">Eventbrite</a
                      >.
                    </li>
                  </ul>

                  <p class="text-lg">
                    Small teams and individual designers need a space where they
                    can watch the design process unfold, both for themselves and
                    for the people they work with – no matter if it's a fellow
                    designer, product manager, developer or client. Preline
                    allows you to invite more people into the process, creating
                    a central place for conversation around design. As those
                    teams grow, transparency and collaboration becomes
                    integrated in how they communicate and work together.
                  </p>

                  <div
                    class="grid gap-y-5 lg:flex lg:items-center lg:justify-between lg:gap-y-0"
                  >
                    <!-- Badges/Tags -->
                    <div class="flex flex-row flex-wrap gap-2">
                      {
                        frontmatter.tags.map((tag: string) => (
                          <a
                            class="badge items-center text-xs sm:text-sm"
                            href={`/insight/tags/${tag}`}
                          >
                            {tag}
                          </a>
                        ))
                      }
                    </div>
                    <!-- End Badges/Tags -->

                  </div>
                </div>
              </div>
            </div>
            <!-- End Content -->

            <!-- Sidebar -->
            <div
              class="lg:col-span-1 lg:h-full lg:w-full lg:bg-gradient-to-r lg:from-gray-50 lg:via-transparent lg:to-transparent dark:from-slate-800"
            >
              <div class="sticky-top left-0 top-0 py-8 lg:pl-4">
                <!-- Avatar Media -->
                <div
                  class="group mb-8 flex items-center gap-x-3 border-b border-gray-200 pb-8 dark:border-gray-700"
                >
                  <a class="block flex-shrink-0" href="#">
                    <img
                      class="h-10 w-10 rounded-full"
                      src="https://images.unsplash.com/photo-1669837401587-f9a4cfe3126e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80"
                      alt="Image Description"
                    />
                  </a>

                  <a class="group block grow" href="">
                    <h5
                      class="font-semibold text-gray-800 text-sm group-hover:text-gray-600 dark:text-gray-200 dark:group-hover:text-gray-400"
                    >
                      {frontmatter.author}
                    </h5>
                    <p class="text-gray-500 text-sm">
                      {frontmatter.occupation}
                    </p>
                  </a>

                  <div class="grow">
                    <div class="flex justify-end">
                      <button
                        type="button"
                        class="inline-flex items-center justify-center gap-x-1.5 rounded-full border border-transparent bg-blue-600 px-2.5 py-1.5 font-semibold text-white text-xs hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-900"
                      >
                        <svg
                          class="h-3.5 w-3.5"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                          ></path>
                          <path
                            fill-rule="evenodd"
                            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
                          ></path>
                        </svg>
                        Follow
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End Avatar Media -->

                <!-- Read More -->
                <div class="space-y-6">
                  <!-- Media -->
                  <a class="group flex items-center gap-x-6" href="#">
                    <div class="grow">
                      <span
                        class="font-bold text-gray-800 text-sm group-hover:text-blue-600 dark:text-gray-200 dark:group-hover:text-blue-500"
                      >
                        5 Reasons to Not start a UX Designer Career in 2022/2023
                      </span>
                    </div>

                    <div
                      class="relative h-20 w-20 flex-shrink-0 overflow-hidden rounded-lg"
                    >
                      <img
                        class="absolute left-0 top-0 h-full w-full rounded-lg object-cover"
                        src="https://images.unsplash.com/photo-1567016526105-22da7c13161a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                        alt="Image Description"
                      />
                    </div>
                  </a>
                  <!-- End Media -->

                  <!-- Media -->
                  <a class="group flex items-center gap-x-6" href="#">
                    <div class="grow">
                      <span
                        class="font-bold text-gray-800 text-sm group-hover:text-blue-600 dark:text-gray-200 dark:group-hover:text-blue-500"
                      >
                        If your UX Portfolio has this 20% Well Done, it Will
                        Give You an 80% Result
                      </span>
                    </div>

                    <div
                      class="relative h-20 w-20 flex-shrink-0 overflow-hidden rounded-lg"
                    >
                      <img
                        class="absolute left-0 top-0 h-full w-full rounded-lg object-cover"
                        src="https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                        alt="Image Description"
                      />
                    </div>
                  </a>
                  <!-- End Media -->

                  <!-- Media -->
                  <a class="group flex items-center gap-x-6" href="#">
                    <div class="grow">
                      <span
                        class="font-bold text-gray-800 text-sm group-hover:text-blue-600 dark:text-gray-200 dark:group-hover:text-blue-500"
                      >
                        7 Principles of Icon Design
                      </span>
                    </div>

                    <div
                      class="relative h-20 w-20 flex-shrink-0 overflow-hidden rounded-lg"
                    >
                      <img
                        class="absolute left-0 top-0 h-full w-full rounded-lg object-cover"
                        src="https://images.unsplash.com/photo-1586232702178-f044c5f4d4b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                        alt="Image Description"
                      />
                    </div>
                  </a>
                  <!-- End Media -->
                  {
                    allPosts.map((post) => (
                      <a class="group flex items-center gap-x-6" href="#">
                        <div class="grow">
                          <span class="font-bold text-gray-800 text-sm group-hover:text-blue-600 dark:text-gray-200 dark:group-hover:text-blue-500">
                            {post.frontmatter.title}
                          </span>
                        </div>

                        <div class="relative h-20 w-20 flex-shrink-0 overflow-hidden rounded-lg">
                          <img
                            class="absolute left-0 top-0 h-full w-full rounded-lg object-cover"
                            src={post.frontmatter.image.url}
                            alt="Image Description"
                          />
                        </div>
                      </a>
                    ))
                  }
                </div>
                <!-- End Read More -->
              </div>
            </div>
            <!-- End Sidebar -->
          </div>
        </div>
        <!-- End Blog Article -->
      </div>
    </div>
  </div>
</BaseLayout>
