---
import BaseLayout from "./BaseLayout.astro";
import "@fontsource/inter/variable.css";
import { Image } from "astro:assets";
import ContentSection from "../components/content-section.astro";
import Btn from "../components/button.astro";
import "../styles/index.css";
// import { Debug } from 'astro:components';
const { frontmatter } = Astro.props;

const allMedias = await Astro.glob(`/src/data/work/*/*.{jpeg,jpg,png,gif,mp4}`);
const medias = allMedias.reduce((acc, media) => {
  const mediaPath = typeof media.default === 'string' ? media.default : media.default.src;
  if (mediaPath.includes(`${frontmatter.path}`)) {
    acc.push(media);
  }
  return acc;
}, []);

const videoProps = {
  playsInline: true, 
  autoPlay: true,
  muted: true,
  loop: true  
}
---
<BaseLayout>
  <div class="mt-10 sm:pb-32 sm:pt-10">
    <div class="mx-auto max-w-7xl pt-0 sm:pb-30 px-6 sm:px-2">
      <div class="container px-0 sm:px-5 sm:pb-24 mx-auto">
        <div class="text-sm breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li> 
            <li><a href="/work">Work</a></li> 
            <li>{frontmatter.title}</li>
          </ul>
        </div>
      </div>
    </div>
    <ContentSection
      title={frontmatter.title}
      subtitle={frontmatter.enTitle}
      id="project"
    >
      <Fragment slot="description">
        {frontmatter.description}
      </Fragment>
      <Fragment slot="description-below">
        {frontmatter.enDescription}
      </Fragment>
      <Fragment slot="content">
        <div class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
          <div class="w-full max-w-7xl space-y-2">
            <div>
              {medias.map((media) => {
                const ext = typeof media.default === 'string' ? media.default.split('.').pop() : media.default.format;
                let mediaComponent;
            
                if (['jpg', 'jpeg', 'png', 'gif'].includes(ext)) {
                  mediaComponent = (
                    <Image
                      src={media.default}
                      widths={[1000, 2000, media.default.width]}
                      sizes={`(max-width: 720px) 1000px, (max-width: 1024px) 2000px, ${media.default.width}px`}
                      alt={media.default.src.split('/').pop()}
                      quality="high"
                    />
                  );
                } else if (ext === 'mp4') {
                  mediaComponent = (
                    <video {...videoProps}>
                      <source src={typeof media.default === 'string' ? media.default : media.default.src} type="video/mp4" />
                    </video>
                  );
                }
            
                return mediaComponent;
              })}
            </div>
          </div>
        </div>
      </Fragment>
    </ContentSection>
    <div class="mt-10 text-center">
      <Btn btnText="â† Go Back" url="/work"></Btn>
    </div>
  </div>
</BaseLayout>

