---
import BaseLayout from "./BaseLayout.astro";
import Breadcrumbs from "~/components/breadcrumbs.astro";
import "@fontsource/inter/variable.css";
import { Image } from "astro:assets";
import ContentSection from "../components/content-section.astro";
import Btn from "../components/button.astro";
// import { Debug } from 'astro:components';
const { frontmatter } = Astro.props;
const urlList = Astro.url.pathname.split("/").filter(Boolean);
const allMedias = import.meta.glob('../data/work/*/*.{jpeg,jpg,png,gif,mp4}', { eager: true });
const medias = Object.values(allMedias).reduce((acc: any[], media: any) => {
  const mediaPath = typeof media.default === 'string' ? media.default : media.default.src;
  if (mediaPath.includes(`${frontmatter.path}`)) {
    acc.push(media);
  }
  return acc;
}, []);

const videoProps = {
  playsInline: true, 
  autoPlay: true,
  muted: true,
  loop: true  
}
---
<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <div class="mt-20 sm:pb-32">
    <Breadcrumbs urlList={urlList} isTitle={frontmatter.title}/>
    <ContentSection
      title={frontmatter.title}
      subtitle={frontmatter.enTitle}
      id="project"
    >
      <Fragment slot="description">
        {frontmatter.description}
      </Fragment>
      <Fragment slot="description-below">
        {frontmatter.enDescription}
        {frontmatter.link && (
          <div class="mt-4">
            <a href={frontmatter.link} target="_blank" rel="noopener noreferrer" class="inline-flex items-center text-xs font-medium hover:text-primary hover:underline">
              <span>品牌方官网 | Reference Link</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
              </svg>
            </a>
          </div>
        )}
      </Fragment>
      <Fragment slot="content">
        <div class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
          <div class="w-full max-w-7xl space-y-2">
            <div>
              {medias.map((media: any) => {
                const ext = typeof media.default === 'string' ? media.default.split('.').pop() : media.default.format;
                let mediaComponent;
            
                if (['jpg', 'jpeg', 'png', 'gif'].includes(ext)) {
                  mediaComponent = (
                    <Image
                      src={media.default}
                      widths={[1000, 2000]}
                      sizes={`(max-width: 768px) 1000px, 2000px`}
                      alt={media.default.src.split('/').pop()}
                      quality="high"
                    />
                  );
                } else if (ext === 'mp4') {
                  mediaComponent = (
                    <video class="w-full" {...videoProps}>
                      <source src={typeof media.default === 'string' ? media.default : media.default.src} type="video/mp4" />
                    </video>
                  );
                }
            
                return mediaComponent;
              })}
            </div>
          </div>
        </div>
        <div class="mt-40 text-center">
          <Btn btnText="← Go Back" btnAltText="← 返回" url="/work" cls=""></Btn>
        </div>
      </Fragment>
    </ContentSection>
  </div>
</BaseLayout>

